.form-horizontal {
    width: 100%;
}

.image-upload {
    position: relative;
    /* max-width: 360px; */
    margin: 0 auto;
    overflow: hidden;
}

.image-upload input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.upload-field {
    display: block;
    background: #F4FAFE;
    padding: 12px;
    border-radius: 11px;

}

.upload-field .file-thumbnail {
    cursor: pointer;
    border: 1px dashed #BBD9EC;
    border-radius: 11px;
    text-align: center;
    padding: 20px;
}

.upload-field .file-thumbnail img {
    width: 100%;
}

.upload-field .file-thumbnail h3 {
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 4px;
}

.upload-field .file-thumbnail p {
    font-size: 12px;
    color: #9ABCD1;
    margin-bottom: 0;
}

.addproducts {
    padding: 4vw;
    margin: 4vw;
    background-color: #F8F9FA;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
}